*{
    margin: 0px;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
}

.header{
    width: 97.8%;
    background-color: #343A40;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
}

.header__anchor{
    text-decoration: none;
}

.header__title{
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    padding-left: 15px;
}

.header__icon a{
    padding: 0px 5px;
}
