.button{
    background: var(--purple);
    color: var(--white);
    /* font: var(--button); */
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 24px;
    padding-block-end: 24px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-decoration: none;
    text-align: center;
}

.button.secondary{
    background: unset;
    border: 2px solid var(--purple);
    color: var(--purple);
}