.proyectos{
    padding-block-start: 40px;
    padding-block-end: 40px;
}

.proyectos-image img{
    max-inline-size: 100%;
}

.proyectos-descripcion{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.proyectos-descripcion p{
    font: var(--body1);
}

.proyectos-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 7px;
}

@media screen and (min-width: 768px){
    .proyectos{
        display: flex;
        align-items: center;
        gap: 32px;
        padding-block-start: 80px;
        padding-block-end: 80px;
    }
    .proyectos-descripcion{
        flex: 1;
    }
    .proyectos-descripcion p{
        font: var(--body1);
    }
    .proyectos:nth-child(odd) .proyectos-image{
        order: 2;
        flex: 1;
        text-align: center; 
    }

    .proyectos-buttons{
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 5px;
    }

    .marvol{
        display: flex;
        flex-direction: row-reverse;
    }

}